/* Comentário CSS */

body {
    color: #444; /* #444 -> #444444 */
    background: rgb(109,194,142);
    background: linear-gradient(90deg, rgba(109,194,142,1) 0%, rgba(214,255,203,1) 50%, rgba(109,194,142,1) 100%);
    min-height: 100vh;
}

.container {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
}

.destaque {
    color: red;
}

.profile__header h1, .profile__header h2 {
    margin: 0;
}

.profile__header h2 {
    font-weight: 400;
}

.profile__header, .profile__about {
    text-align: center;
}

.profile__about div {
    background-color: #8d5fe9;
    padding: 16px;
    margin: 10px;
}

.profile__about .destaque {
    color: white;
}

a.destaque {
    color: blue;
}

.profile {
    margin-top: 100px;
}

.profile__header img {
    width: 200px;
    height: 200px;
    object-fit: cover; /* manter a proporção da imagem, fazendo um recorte sem distorção */
    border-radius: 100%; /* círculo */
    display: block;
    margin: 0 auto; /* top/bottom left/right */
    margin-bottom: 24px;
}