/* Comentário CSS */

body {
    color: #444; /* #444 -> #444444 */
    background: rgb(109,194,142);
    background: linear-gradient(90deg, rgba(109,194,142,1) 0%, rgba(214,255,203,1) 50%, rgba(109,194,142,1) 100%);
    min-height: 100vh;
}

.container {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
}

.destaque {
    color: red;
}

.profile__about div {
    background-color: #8d5fe9;
    padding: 16px;
    margin: 10px;
}

.profile__about .destaque {
    color: white;
}

a.destaque {
    color: blue;
}